body {
  position: relative;
  font-family: $font, 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: gray;
  /*background-image: url(../../img/tuman-fon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;*/
  background: url('../../img/ocean.jpg') no-repeat center center fixed;
  background-size: cover;
}
