//fonts
$font: 'Open Sans';

//colors
$basic-white: #ffffff;
$background-white: rgba(255, 255, 255, 0.9);
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$black-light: rgba(0, 0, 0, 0.1);
