//Шрифты
$font: 'Open Sans';

//цвета
$basic-white: #ffffff;
$background-white: rgba(255, 255, 255, 0.9);
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$black-light: rgba(0, 0, 0, 0.1);

//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$tablet-width-only: 1149px;
